# Outlier detection

This notebook analyzes the `swiss_food_composition_database_proc` to see for outlier. Different outlier detection methods are found.

In [7]:
import pandas as pd

In [8]:
dataset = pd.read_csv('../data/swiss_food_composition_database_proc.csv')

In [9]:
dataset.shape

(1092, 43)

In [10]:
dataset.head()

,ID,name,category,energy_kcal,fat_g,fatty_acids_sat_g,fatty_acids_monounsat_g,fatty_acids_polyunsat_g,cholesterol_mg,carbohydrates_g,...,sodium_mg,chloride_mg,calcium_mg,magnesium_mg,phosphorus_mg,iron_mg,iodide_µg,zinc_mg,selenium_µg,category_new
0,0,Agar Agar,Various/Gelling and binding agents,160.0,0.2,NaN,NaN,NaN,NaN,0.0,...,130.0,NaN,660.0,100.0,34.0,4.5,NaN,1.5,NaN,other
1,1,Agave syrup,Sweets/Sugar and sweeteners,293.0,0.0,0.0,NaN,NaN,NaN,73.1,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sweets
2,2,Almond,"Nuts, seeds and oleaginous fruit",624.0,52.1,4.1,31.4,11.4,0.0,7.8,...,1.1,40.0,270.0,240.0,510.0,3.3,0.2,3.3,2.2,fruits
3,3,"Almond, dry roasted, salted","Savoury snacks/Salted nuts, seeds and kernels",637.0,52.5,4.1,33.1,13.0,0.0,10.1,...,230.0,1190.0,270.0,280.0,470.0,3.7,2.4,3.3,2.0,nuts
4,4,"Almond, roasted, salted","Savoury snacks/Salted nuts, seeds and kernels",649.0,55.2,4.2,34.8,13.5,0.0,7.2,...,330.0,1190.0,240.0,270.0,470.0,3.3,2.4,3.1,2.0,nuts

In [11]:
dataset = dataset.dropna(axis=0)
dataset.shape

(313, 43)

In [13]:
dataset['category_new'].unique()

array(['fruits', 'nuts', 'sweets', 'non_alcoholic_beverages',
       'vegetables', 'meat', 'cereals', 'other', 'sauce', 'dairy'],
      dtype=object)

Three food categories disappeared because they always have missing values. So we are performing outlier detetction only on the food categories from above.