# Cleaning the Dataset

This is an auxiliary notebook that documents the steps taken to clean the "Swiss Food Composition Database" and make it ready for use in the tutorials. It uses functions in the clean_dataset module found in the same folder.

For more information on the abbreviations of the dataset [see here](https://valeursnutritives.ch/en/abbreviations/).

In [9]:
import clean_dataset
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
dataset = clean_dataset.process_dataset()

There are 196 cells containing non-numerical values. Stripping '<'.
Done.
In total found 590 traces. Replacing them with 0.0001

c:\Users\dorie\OneDrive\Desktop\ETH\puna ne lab dok\pas\ML4Food\ML4Food\scripts\clean_dataset.py:124: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, 3:] = df.iloc[:, 3:].applymap(extract_value)

Done. Clean dataset ready.

In [11]:
assert dataset.shape==(1092, 41) # check the shape of the data

In [12]:
dataset.columns

Index(['name', 'category', 'energy_kcal', 'fat_g', 'fatty_acids_sat_g',
       'fatty_acids_monounsat_g', 'fatty_acids_polyunsat_g', 'cholesterol_mg',
       'carbohydrates_g', 'sugars_g', 'starch_g', 'fibres_g', 'protein_g',
       'salt_g', 'alcohol_g', 'water_g', 'vit_A_activity_re_µg',
       'vit_A_activity_rae_µg', 'retinol_µg', 'beta_carotene_activity_µg',
       'beta_carotene_µg', 'vit_B1_mg', 'vit_B2_mg', 'vit_B6_mg', 'vit_B12_µg',
       'niacin_mg', 'folate_µg', 'panthotenic_acid_mg', 'vit_c_mg', 'vit_d_µg',
       'vit_e_activity_mg', 'potassium_mg', 'sodium_mg', 'chloride_mg',
       'calcium_mg', 'magnesium_mg', 'phosphorus_mg', 'iron_mg', 'iodide_µg',
       'zinc_mg', 'selenium_µg'],
      dtype='object')

In [13]:
# check number of traces
tr_count = dataset.apply(lambda x: x.value_counts().get('tr.', 0))
assert sum(tr_count)==0

In [14]:
# check number of <
count = dataset.astype(str).applymap(lambda x: x.count('<')).sum().sum()
assert count==0

If all tests passed, we save the dataset in a `.csv` file in the `data` folder. Do not save the first column as it is just the index.

In [15]:
dataset.head()

,name,category,energy_kcal,fat_g,fatty_acids_sat_g,fatty_acids_monounsat_g,fatty_acids_polyunsat_g,cholesterol_mg,carbohydrates_g,sugars_g,...,potassium_mg,sodium_mg,chloride_mg,calcium_mg,magnesium_mg,phosphorus_mg,iron_mg,iodide_µg,zinc_mg,selenium_µg
0,Agar Agar,other,160.0,0.2,NaN,NaN,NaN,NaN,0.0,NaN,...,52.0,130.0,NaN,660.0,100.0,34.0,4.5,NaN,1.5,NaN
1,Agave syrup,sweets,293.0,0.0,0.0,NaN,NaN,NaN,73.1,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Almond,fruits,624.0,52.1,4.1,31.4,11.4,0.0,7.8,6.6,...,740.0,1.1,40.0,270.0,240.0,510.0,3.3,0.2,3.3,2.2
3,"Almond, dry roasted, salted",nuts,637.0,52.5,4.1,33.1,13.0,0.0,10.1,4.9,...,710.0,230.0,1190.0,270.0,280.0,470.0,3.7,2.4,3.3,2.0
4,"Almond, roasted, salted",nuts,649.0,55.2,4.2,34.8,13.5,0.0,7.2,4.6,...,670.0,330.0,1190.0,240.0,270.0,470.0,3.3,2.4,3.1,2.0

In [16]:
dataset.rename_axis('ID', inplace=True)
dataset.reset_index(inplace=True)

dataset.to_csv('../data/swiss_food_composition_database_proc_without_original_category.csv', index=False)